.table {
    table-layout: fixed;
    overflow: auto;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
    background: whitesmoke;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container-wrapper {
    height: 80%;
    margin: auto;
}

.home-image {
    display: block;
    width: 100% !important;
    height: auto !important;
}